.about {
    background-image: url(../../../public/images/banner/bg4.JPG);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    height: 90vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgb(0 0 0 / 64%);
        // background: #00000075;
        z-index: 0;
        top: 0;
        right: 0;
    }
    &__content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    &__title {
        // .welcome {
        //     font-family: "Great Vibes", cursive;
        // }
        h1 {
            margin: 0;
            color: #FFC107;
            text-shadow: 1px 1px 4px #000;
            padding-top: 10px;
            font-size: 40px;
            font-weight: 900;
            font-family: "Great Vibes", cursive;
            word-spacing: 10px;
        }
        h2 {
            color: white;
            word-spacing: 5px;
            letter-spacing: 5px;
        }
        h3 {
            word-spacing: 5px;
            letter-spacing: 5px;
        }
    }
    &__desc {
        letter-spacing: 1.5px;
    }
    &__btn {
        margin-top: 25px;
        &__link {
            padding: 15px;
            color: #FFC107;
            border: 1px solid #FFC107;
            background: transparent;
            transition: 0.2s ease-in;
            &:hover {
                background:#FFC107;
                color: white;
                border: 1px solid #FFC107;
                transition: 0.2s ease-in;
            }
        }
    } 
}

//Responsive To mobile
@media only screen and (max-width: 767.98px) {
    .about {
        background-image: url(../../../public/images/banner/bg3.JPG);
        padding: 20px;
        height: 80vh;
        &__title {
            h1 {
                font-size: 35px;
            }
            h3 {
                font-size: 13px;
            }
        }
        &__btn {
            &__link {
                padding: 14px;
            }
        }
    }
}

@media only screen and (max-width: 575.86px) {
    .about {
        height: 70vh;
        &__title {
            p {
                word-spacing: unset;
            }
        }
        &__btn {
            &__link {
                padding: 13px;
            }
        }
    }
}

@media only screen and (max-width: 320.98px) {
    .about {
        height: 60vh;
        &__content {
            max-width: 100%;
        }
        &__title {
            h1 {
                font-size: 28px;
            }
            h3 {
                font-size: 11px;
            }
        }
        &__btn {
            &__link {
                padding: 8px;
            }
        }
    }
}