.location {
    padding: 40px;
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
        position: relative;
        .absolute {
            position: absolute;
            font-weight: 100;
            margin: 0;
            top: -40px;
            text-align: center;
            font-size: 80px;
            font-family: "Great Vibes", cursive;
            color: #ffde59;
        }
        h2 {
            position: relative;
        }
    }
    &__content {
        &__maps {
            padding: 20px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            margin-bottom: 20px;
            transition: 0.2s ease-in;
            &:hover {
                background-color: #FFC107;
                position: relative;
                transition: 0.2s ease-out;
            }
        }
        iframe {
            width: 100%;
        }
        &__desc {
            display: flex;
            flex-direction: column;
            gap: 20px;
            padding: 20px;
            box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            transition: 0.2s ease-in;
            &:hover {
                background-color: #FFC107;
                position: relative;
                transition: 0.2s ease-out;
                .img-absolute {
                    width: 130px;
                    display: block;
                    position: absolute;
                    right: -40px;
                    opacity: 50%;
                    bottom: -40px;
                }
                .white {
                    display: block;
                }
                .orange {
                    display: none;
                }
                p {
                    color: white;
                    
                    
                }
                h3 {
                    color: white;
                    
                }
            }
        }
        h3 , p {
            margin: 0;
        }
        img {
            width: 50px;
        }
        .white {
            display: none;
        }
        .img-absolute {
            display: none;
        }
    }
}

@media only screen and (max-width: 767.98px) {
    .location {
        padding: 20px;
        &__title {
            .absolute {
                font-size: 70px;
                top: -30px;
            }
        }
        &__content {
            &__desc {
                &:hover {
                    .img-absolute {
                        bottom: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575.86px) {
    .location {
        &__title {
            margin-top: 60px;
            .absolute {
                font-size:60px;
                top: -20px;
            }
        }
        &__content {
            &__desc {
                &:hover {
                    .img-absolute {
                        width: 100px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 320.98px) {
    .location {
        &__title {
            .absolute {
                font-size:50px;
                top: -17px;
            }
        }
        &__content {
            &__desc {
                &:hover {
                    .img-absolute {
                        width: 80px;
                    }
                }
            }
        }
    }
}